/**
*
*
*
*
**/
html {
  box-sizing: border-box;
}
html,
body{
    height: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.full-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.full-height{
    height: 100%;
}
.full-width{
    width: 100%
}
.bg-img{
    background: url(../img/bg/bg.jpg);
    height: 100%;
    min-height: 667px;
}
.small{
    font-size: 24px;
}
img{
    max-width: 100%;
}
.img-logo{
    width: 50%
}
.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}
.center{
 margin:0 auto;
    width:200px;
    height:200px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.delay-1{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.delay-2{
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}
.btn{
    margin: 2px
}
/**/
/**/
/**/
/**/
/**/
