<main id="content" class="content" role="main" itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/Blog">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header" itemprop="headline">
            <h2 class="post-title">
                Encuentranos en:
            </h2>
        </header>
        <section class="post-excerpt">
            <!--            {{ ctrl.organizacion.description }}-->

            <p> <strong>ngVenezuela</strong> es un grupo de personas que se han organizado como comunidad con el objetivo de darse soporte mutuamente en el uso cotidiano de <strong>Angular</strong> donde dedicaremos a impartir y compartir conocimientos sobre este <i>framework</i> a todos los interesados en aprenderlo.</p>
            <p>La función primordial de esta comunidad es agrupar a los usuarios de Angular en Venezuela.</p>
            <!--<div class="row">
                <div class="col-1-3">
                    <a ng-href="{{ ctrl.organizacion.html_url }}" target="_blank" title="{{ ctrl.organizacion.name }}">
                        <i class="fa fa-github fa-5x"></i>
                        sdsdsd
                    </a>
                </div>
                <div class="col-1-3">
                    <a ng-href="{{ ctrl.organizacion.blog }}" target="_blank" title="{{ ctrl.organizacion.name }}">
                        <i class="fa fa-google fa-5x"></i>
                        sdsdsd
                    </a>
                </div>
                <div class="col-1-3">
                    <a ng-href="mailto:{{ ctrl.organizacion.email }}" target="_blank" class="" title="">
                        <i class="fa fa-envelope-o fa-5x"></i>
                        sdsdsd
                    </a>
                </div> -->
            </div><!-- /.row -->
        </section>
    </article>
</main>
