<main id="content" class="content" role="main" itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/Blog">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header" itemprop="headline">
            <h2 class="post-title">
                ¡Bienvenidos!
            </h2>
        </header>
        <section class="post-excerpt">
            <p> <strong>ngVenezuela</strong> es un grupo de personas que se han organizado como comunidad con el objetivo de darse soporte mutuamente en el uso cotidiano de <strong>Angular</strong> donde dedicaremos a impartir y compartir conocimientos sobre este <i>framework</i> a todos los interesados en aprenderlo.</p>
            <p>La función primordial de esta comunidad es agrupar a los usuarios de Angular en Venezuela.</p>
            </div><!-- /.row -->
        </section>
    </article>
</main>
