<main id="content" class="content" role="main">
  <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header class="post-header">
      <h1 class="post-title" itemprop="headline">Queremos conocer a la mayor cantidad de Desarrolladores Angular que podamos.</h1>
    </header>
    <section class="post-content">
      <img src="img/people.svg" alt="ngVenezuela">
      <p>En <strong>ngVenezuela</strong> todos son bienvenidos, no importa si eres un joven padawan, o un Maestro Jedi consagrado, juntos podemos conquistar la galaxia. Acá podrás contactarnos estamos activos en:
        <ul>
          <li><a href="https://twitter.com/ngvenezuela" target="_blank">Twitter</a>: Toda la información actual sobre Angular, y otros temas de interés para nosotros, lo podrás conseguir, solo ¡Siguenos!.</li>
          <li><a href="https://github.com/ngvenezuela" target="_blank">Github</a>: Código, código, código... En Github tenemos nuestros proyectos totalmente expuestos para que puedas mirarlo, forkearlo, clonarlo, hacer pull request y aprendas como debe ser "codeando".</li>
          <li><a href="https://telegram.me/ngvenezuela" target="_blank">Telegram</a>: ¡OFF TOPIC!, nuestro día a día, en esta plataforma de mensajería, tendrás contacto directo con todos los miembros de la comunidad... Acá hablamos de cualquier cosa, y estamos en contacto permanente... No pierdas la oportunidad de conocer a los que conformamos ngVenezuela...</li>
        </ul>

        Si quieres formar parte de esta familia llamada <strong>ngVenezuela</strong> no dejes de seguirnos en estás plataformas, y crece como developer intercambiando código, ideas y cualquier cosa que te parezca interesante,con nosotros. Visita la seccion <a href="/#/quiero-unirme#top">¡Quiero Unirme!</a> para ser miembro de la comunidad en GITHUB, y tener nuestro badge en tú perfil...

        <h2 class="text-center">¡Entonces! ... ¿Te nos unes?</h2>
      </p>
    </section>
  </article>
</main>
