<div class="grd bg--off-white">
    <div class="grd-row">
        <div class="grd-row-col-6 measure p2 center-block">
            <h3>Contáctanos </h3>
            <p class="h4">Usando este formulario de contacto puedes enviarnos tus sugerencias e invitaciones a eventos... Estaremos gustosos de responder todas tus inquietudes. <i class="fa fa-smile-o"></i></p>
            <form action="#" role="form" class="my2">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter your name...">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="user@example.com">
                <label for="bio">Menssage</label>
                <textarea name="bio" rows="3" placeholder="Tell us about yourself..."></textarea>
                <button type="submit" class="btn--blue full-width">
                    <i class="fa fa-paper-plane"></i> Enviar Correo
                </button>
            </form>
            <small> Responderemos lo más pronto posible xD </small>
        </div>
    </div>
</div>
