<main id="content" class="content" role="main">
    <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <header class="post-header">
            <h1 class="post-title" itemprop="headline">Quienes somos</h1>
        </header>
        <section class="post-content">
            <p> <strong>ngVenezuela</strong> es un grupo de personas que se han organizado como comunidad con el objetivo de darse soporte mutuamente en el uso cotidiano de <strong>Angular</strong> donde dedicaremos a impartir y compartir conocimientos sobre este <i>framework</i> a todos los interesados en aprenderlo.</p>
            <p>La función primordial de esta comunidad es agrupar a los usuarios de Angular en Venezuela.</p>
            <p>Nos encontramos activos en las siguientes redes sociales:</p>
            <ul>
                <li>
                    <a href="https://groups.google.com/forum/#!forum/ngvenezuela" target="_blank">
                        ngVenezuela
                    </a>@ Google Groups
                </li>
                <li>
                    <a href="http://twitter.com/ngVenezuela" target="_blank">
                        ngVenezuela
                    </a>@ Twitter
                </li>
                <li>
                    <a href="https://github.com/ngVenezuela" target="_blank">
                        ngVenezuela
                    </a>@ Github
                </li>
                <li>
                    <a href="mailto:angularjsve.comunidad@gmail.com" target="_blank">
                        Escribenos
                    </a> un Correo
                </li>
                <li>
                    <a href="https://telegram.me/ngvenezuela" target="_blank">Telegram</a>
                    (Sabemos que no es una red social).
                </li>
            </ul>
            <!--
            <h2>Coordinadores</h2>
            <div class="row">
                <div class="col-1-3">
                    <img src="https://secure.gravatar.com/avatar/b5a93f6390e4bdb85a484d15b549d467" alt="abr4xas's avatar"><br>
                    Junior Frontend Web Developer, algunas veces linux otras OSX...
                </div>
                <div class="col-1-3">
                    <img src="https://secure.gravatar.com/avatar/b5a93f6390e4bdb85a484d15b549d467" alt="abr4xas's avatar"><br>
                    Junior Frontend Web Developer, algunas veces linux otras OSX...
                </div>
                <div class="col-1-3">
                    <img src="https://secure.gravatar.com/avatar/b5a93f6390e4bdb85a484d15b549d467" alt="abr4xas's avatar"><br>
                    Junior Frontend Web Developer, algunas veces linux otras OSX...
                </div> 
            </div>  -->

            <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bloio -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7127443823639155"
                     data-ad-slot="9038513565"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <br/>
        </section>
    </article>
</main>
