<div class="grd">
    <div class="grd-row">
        <div class="grd-row-col-6 measure p2 center-block">
            <h3>Quienes somos</h3>
            <p class="h4"> <strong>ngVenezuela</strong> es un grupo de personas que se han organizado como comunidad con el objetivo de darse soporte mutuamente en el uso cotidiano de <strong>Angular Js</strong> donde dedicaremos a impartir y compartir conocimientos sobre este <i>framework</i> a todos los interesados en aprenderlo.</p>
            <p class="h4">La función primordial de esta comunidad es agrupar a los usuarios de Angular Js en Venezuela</p>
            <p class="h4">Nos encontramos en las siguientes redes sociales:</p>
            <ul>
                <li>
                    <a href="http://bit.ly/ng-venezuela-google-groups" target="_blank">
                        ngVenezuela
                    </a> @ Google Groups
                </li>
                <li>
                    <a href="https://www.facebook.com/groups/1597010370553856/" target="_blank">
                        ngVenezuela
                    </a> @ Facebook
                </li>
                <li>
                    <a href="http://bit.ly/ng-venezuela-twitter" target="_blank">
                        ngVenezuela
                    </a> @ Twitter
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/communities/101255206052944039230" target="_blank">
                        +ngVenezuela
                    </a> @ Google Plus
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCvmBKCMIiHsz6UVCLo-nuXA" target="_blank">
                        ngVenezuela</a> @ Youtube
                </li>
            </ul>
        </div>
    </div>
</div>
