<div class="seccion grd bg--blue bg-img">
    <div class="grd-row">
        <div class="grd-row-col-6 measure p2 center-block">
            <h3>Quienes somos</h3>
            <p class="h4"> <strong>ngVenezuela</strong> es un grupo de personas que se han organizado como comunidad con el objetivo de darse soporte mutuamente en el uso cotidiano de <strong>Angular</strong> donde dedicaremos a impartir y compartir conocimientos sobre este <i>framework</i> a todos los interesados en aprenderlo.</p>
            <p class="h4">La función primordial de esta comunidad es agrupar a los usuarios de Angular en Venezuela</p>
            <p class="h4">Nos encontramos activos en las siguientes redes sociales:</p>
            <ul>
                <li>
                    <a href="http://bit.ly/ng-venezuela-google-groups" target="_blank">
                        ngVenezuela
                    </a> @ Google Groups
                </li>
                <li>
                    <a href="http://bit.ly/ng-venezuela-twitter" target="_blank">
                        ngVenezuela
                    </a> @ Twitter
                </li>
                <li>
                    <a href="bit.ly/ngvenezuela-telegram">Telegram</a>
                    (Sabemos que no es una red social).
                </li>
            </ul>
        </div>
    </div>
</div>
