<main id="content" class="content" role="main">
    <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <header class="post-header">
            <h1 class="post-title" itemprop="headline">¡Unete a nuestra comunidad!</h1>
        </header>
        <section class="post-content">
            <p>
                Puedes usar el formulario o ir a esta <a href="http://bit.ly/quiero-unirme-ngvenezuela" target="_blank">
                página
                </a> y llenar los datos
            </p>
            <p>
                <iframe src="https://docs.google.com/forms/d/1rfz8qH0wGYaTDrS0Trj4L4WVcG7IYA4w8AGzXxhoPYk/viewform?embedded=true" width="100%" height="950px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </p>
        </section>
    </article>
</main>
