<div class="seccion grd bg--blue bg-img">
    <div class="grd-row">
        <div class="grd-row-col-6 measure p2 center-block">
            <h3>Repos </h3>
            <p class="h4"> En esto estamos trabajando actualmente</p>
            <div class="media py2" ng-repeat="repo in ctrl.repositorios">
                <div class="media-body">
                    <h6 class="m0 p0">{{ repo.full_name }}</h6>
                    <p class="m0 p0">
                        {{ repo.description }}
                    </p>
                    <p class="m0 p0">
                       Para colaborar clic <a href="{{ repo.html_url }}" target="_blank">aquí</a>
                    </p>
                </div>
            </div>
            <p class="h4">Si deseas colaborar te invitamos a que te nos unas en <a href="https://github.com/ngVenezuela">Github</a> </p>
        </div>
    </div>
</div>
