<div class="grd bg--off-white">
    <div class="grd-row">
        <div class="grd-row-col-6 measure p2 center-block">
            <h3>Repos </h3>
            <p class="h4"> En esto estamos trabajando actualmente</p>
            <div class="media py2">
                <div class="media-body">
                    <h6 class="m0 p0">Nombre del repo</h6>
                    <p class="m0 p0">
                        Descripción del repo
                    </p>
                </div>
            </div>
            <p class="h4">Si deseas colaborar te invitamos a que te nos unas en <a href="#0">Github</a> </p>
        </div>
    </div>
</div>
