<main id="content" class="content" role="main" itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/Blog">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting" ng-repeat="repo in ctrl.repositorios">
        <header class="post-header" itemprop="headline">
            <h2 class="post-title">
                <a href="{{ repo.html_url }}" itemprop="url" rel="bookmark">
                    {{ repo.full_name }}
                </a>
            </h2>
        </header>
        <section class="post-excerpt">
            {{ repo.description }}<br/>
            <a class="read-more" itemprop="url" href="{{ repo.html_url }}" target="_blank" title="Read More" rel="bookmark"> Read More &raquo;</a>
        </section>
    </article>
</main>
